<div class="map" id="map"></div>

<div class="user" *ngIf="hasMapPermission === true">
    <div [style.transform]="userTransform" [class.walking]="isUserWalking"></div>
</div>

<div class="places" *ngIf="nearPlaces && nearPlaces.length">
    <label>Locais próximos:</label>
    <mat-nav-list mat-card-image>
        <a mat-list-item *ngFor="let place of nearPlaces" (click)="showPlace(place)" [class.visited]="isVisitedPlace(place)">
            {{ place.name }}
            <small>({{ getFormattedDistance(place) }})</small>
        </a>
    </mat-nav-list>
</div>

<div class="controls" *ngIf="hasBuildedMap">

    <!-- <input [ngModel]="zoom" style="position: absolute; top: 20px; left: 20px"> -->

    <!-- <textarea [ngModel]="bounds | json" style="position: absolute; top: 40px; left: 20px"></textarea> -->

    <!-- <textarea [ngModel]="map.getCenter() | json" style="position: absolute; top: 20px; right: 20px; width: 220px; height: 62px"></textarea> -->

    <!-- <input [ngModel]="lng" style="position: absolute; top: 87px; right: 20px; width: 200px"> -->
    <!-- <input [ngModel]="lat" style="position: absolute; top: 107px; right: 20px; width: 200px"> -->

</div>

<div *ngIf="!hasRequestedMapPermission && hasMapPermission === null" class="request-permission">
    <div class="message">
        Para visualizar o mapa, é necessário que você conceda permissão para este aplicativo visualizar a sua
        localização
        atual.<br>
        <button mat-raised-button color="accent" (click)="initializeMap()">
            Conceder permissão
        </button>
    </div>
</div>

<div *ngIf="hasRequestedMapPermission && hasMapPermission === false" class="no-permission">
    <div class="message" color="warn">
        A permissão para ver sua localização atual foi negada.<br>
        Não será possível exibir o mapa.
    </div>
</div>

<div *ngIf="hasRequestedMapPermission && hasMapPermission === null" class="loading">
    <mat-spinner></mat-spinner>
</div>