@import '../../theme';

@mixin map-stretched {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
}

div.map  {
    @include map-stretched;
}

div.no-permission, div.request-permission, div.loading {
    @include map-stretched;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > .message {
        max-width: 50%;
        text-align: center;
    }
}

div.user {
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    > div {
        width: 80px;
        height: 110px;
        margin-bottom: -5px;
        background-image: url("../../assets/female_tilesheet.png");
        background-position: 0 0;
        transform-origin: 50% 100%;

        @keyframes walking {
            0% { background-position: 0 220px; }
            50% { background-position: -80px 220px; }
        }

        &.walking {
            animation: walking 0.25s steps(1) infinite;
        }
    }
}

div.places {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 75%;
    background-color: white;
    @include mat-elevation(2);

    label {
        display: block;
        margin: 8px;
        margin-bottom: 0;
        text-align: center;
        font-size: 0.8em;
        line-height: 10px;
    }

    .mat-nav-list .mat-list-item {
        font-size: 0.8em;
        height: 30px;

        small {
            margin-left: 10px;
            opacity: 0.5;
        }
    }
}