main {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;

    > div {
        margin: 0 auto;
        max-width: 600px;    
    }
}

.mat-card-header .mat-card-title {
    font-size: 20px;
    font-weight: 500;
}

.mat-card {
    margin-bottom: 20px;
}

form .mat-card-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .field-100 { width: 100%; }
    .field-60 { width: 60%; }
    .field-30 { width: 30%; }
}

.mat-nav-list {
    small {
        margin-left: 10px;
        opacity: 0.5;
    }

    .mat-list-item.selected {
        background-color: #ddd;
    }
}
