<main>
    <div>
        <router-outlet></router-outlet>
    </div>

    <nav>
        <a mat-button routerLink="/" [class.selected]="currentPage == ''">
            <mat-icon>map</mat-icon>
            <label>Mapa</label>
        </a>
        <a mat-button routerLink="/visited" [class.selected]="currentPage == 'visited'">
            <mat-icon>location_on</mat-icon>
            <label>Visitados</label>
        </a>
        <a mat-button routerLink="/places" [class.selected]="currentPage == 'places'">
            <mat-icon>view_list</mat-icon>
            <label>Locais</label>
        </a>
    </nav>
</main>
